<nav>
    <div class="ui inverted segment">
        <div class="ui inverted secondary pointing big menu container">
            <a href="/" class="item">
                Panic App
            </a>
            <a href="/" class="active item">
                Home
            </a>

            <a class="item">
                Messages
            </a>
            <div class="right menu">
                <% if(currentUser){ %>
                    <a href="/dashboard" class="item">Dashboard</a>
                    <a href="/users/logout" class="item">Log Out</a>
                <% } else { %>
                    <a href="/users/login" class="item">Log In</a>
                    <a href="/users/register" class="item">Sign Up</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>
